body{
	background: url(http://1.bp.blogspot.com/-cX1t4OEWJTY/Unzp3LMAXII/AAAAAAAAe3g/7mw8dSfv-qg/s1600/18870-the-walking-dead-the-walking-dead.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.header-area {
	background-color: rgba(239, 126, -0, .85);
	color: green;
	height: 250px;
	text-align: center;
	padding-top: 20px;
	font-family: Dosis;
	position: relative;
	top:300px;
}

.header-area button{
	margin-top: 40px;
	background-color: red;
	color: black;
	font-weight: bold;
	font-size: 20px;
	border: 2px solid black;
	box-shadow: 4px 4px 2px black;
	border-radius: 10px;
}


.light-box {
	padding: 30px;
	background-color: rgba(211, 211, 211, .5);
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0; 
	display: none;
}
.light-box > div {
	display: table-cell;
	position: relative;
	top: 30%;

}
.victim-form, .volunteer-form {
	
	background-color: darkgray;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
}
.victim-info, .volunteer-info{
	display: block;
	margin-bottom: 10px;
	width: 370px;
	margin-right: auto;
	margin-left: auto;

	
}

label {
display: inline-block;
width: 140px;
text-align: right;
}

#close, #close2{
	background-color: black;
	color: white;
	border-radius: 50%;
	border:0;
	position: absolute;
	right:-5px;
	top:-5px;
}

#save, #save2{
	background-color: green;
	color: white;
	padding: 5px;
	border-radius: 20px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
}
